
// Creates a wrapper for a series of columns
@mixin row {
  display: flex;
  flex-direction: row;
  gap: $gutter;
}

@mixin column($width: 1) {
    $width-pct: percentage($width);
    flex-basis: $width-pct;
}

// generic column float with no width specification
@mixin float {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: ($basepx * 1px);
    padding-left: $margin;
    padding-right: ($basepx * 1px);
    padding-right: $margin;
}

@mixin offset($decimal) {
    margin-left: percentage($decimal);
}

@mixin push($decimal) {
    left: percentage($decimal);
}

@mixin pull($decimal) {
    right: percentage($decimal);
}

// percentage based columns
// $span - width to span X number of columns
// $cols - based upon X total columns in parent
@mixin percentColumn($span: 1, $cols: 12) {
    $colw: ($span / $cols);
    @include column($colw);
}

//  grid with even columns 

@mixin even-columns( $cols: 4 ) {
    

    display: grid;
    gap: $gutter;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));

    @media screen and (min-width: $bp-max-container-width) {
      grid-template-columns: repeat($cols, 1fr);

    }


}

