// setup flexbox
@mixin flex-container() {
    display: flex;
    gap: $gutter;
}

// Creates a wrapper for a series of columns
@mixin row {
    @include flex-container();
    flex-direction: row;
}

@mixin columns {
    @include flex-container();
    flex-direction: column;
}

@mixin column($width: 1) {
    $width-pct: percentage($width);
    flex-basis: $width-pct;
    max-width: $width-pct;
}

// generic column float with no width specification
@mixin float {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: ($basepx * 1px);
    padding-left: $margin;
    padding-right: ($basepx * 1px);
    padding-right: $margin;
}

@mixin offset($decimal) {
    margin-left: percentage($decimal);
}

@mixin push($decimal) {
    left: percentage($decimal);
}

@mixin pull($decimal) {
    right: percentage($decimal);
}

// percentage based columns
// $span - width to span X number of columns
// $cols - based upon X total columns in parent
@mixin percentColumn($span: 1, $cols: 12) {
    $colw: ($span / $cols);
    @include column($colw);
}

//  grid with even columns 

@mixin even-columns() {

    $min-col-width: 17rem;

    display: grid;
    gap: $gutter;
    grid-template-columns: repeat(auto-fit, minmax($min-col-width, 1fr));

}