body {
  color: $col-footer-text;
  background-color: $col-footer-bg;
}

#content {
  color: $col-txt;
  background-color: $col-bg;
  padding: 1.5em 0;
}

// #main,
// #secondary,
#featured {
  @include column();
}

#featured {
  .featured {
    article {
      @include even-columns(4, $widget-breakpoints);
      .article-title {
        margin-bottom: 0;
      }
    }
  }
  .cards {
    @include clearfix;
    margin: 0 ($basepx * -1px);
    margin: 0 ($margin * -1);
    article {
      @include even-columns(4, $widget-breakpoints);
      .article-title {
        margin-bottom: 0;
      }
    }
  }
  .widget.columns {
      @include even-columns(4, $widget-breakpoints);
  }
}

// @media only screen and (min-width: $bp-01) {
//   #secondary,
//   #featured {
//     .sidebar-inner {
//       @include row;
//     }
//   }
//   #featured .featured .widget-title {
//     @include column();
//   }
// }

// @media only screen and (max-width: $bp-enable-sidebar) {
//   #secondary {
//     margin-top: $margin-baseline;
//   }
// }

#main {
  article {
    h1 {
      @include baseline-size( 2);
    }
    h2 {
      @include baseline-size( 1.75);
    }
    h3 {
      @include baseline-size( 1.5);
    }
    h4 {
      @include baseline-size( 1.25);
    }
    h5 {
      @include baseline-size( 1.125);
    }
    h6 {
      @include baseline-size( 1);
    }
    .post-meta {
      list-style: none;
    }
    .entry-title {
      word-wrap: break-word;
    }
    .entry-meta {
      @include baseline-size(0.875);
      .comments-link:before {
        font-family: 'ForkAwesome';
        content: "\f0e5";
        margin: 0 .75em;
      }
    }
    .post-thumbnail {
      margin-bottom: 1.5em;
    }


    .entry-footer {
      .cat-links, .tags-links {
        margin-right: .75em;
      }
    }

          .post-edit-link:before {
        font-family: 'dashicons';
        content: "\f327";
        margin-inline-end: 0.25em;
      }

    margin-bottom: $margin-baseline;
  }
}

// #secondary {
//   .widget {
//       @include even-columns(3, $widget-breakpoints);
//   }
// }

// widget headings (classic and block)
.widget-title,
.widget_block h2.wp-block-heading {
  @include baseline-size(1.5);
}

// move secondary sidebar to second column if active
// @media only screen and (min-width: $bp-enable-sidebar) {
//   .blog.has-sidebar-secondary,
//   .archive.has-sidebar-secondary,
//   .single.has-sidebar-secondary,
//   .page-template-default.has-sidebar-secondary {
//     #main {
//       @include column($ga);
//     }
//     #secondary {
//       @include column($gb);
//       .widget {
//         float: none;
//         @include column(1);
//       }
//     }
//   }
// }

.page-template-feature-page {
  #secondary {
    margin-top: $margin-baseline;
  }
}

.page-template-p-single-column-narrow-php,
.page-template-page-single-column-narrow,
.page-template-p-single-column-narrow {
  
  @media screen and (min-width: $bp-max-column-width) {
    
    .wp-block-cover-image, .wp-block-cover {
        // align wide
        &.alignwide {
            width: 150%;
            max-width: 100vw;
            margin-left: -25%;
        }
      }
}


}

