
/* = Footer Layout
----------------------------------------------- */
#footer {
    color: $col-footer-text;
    background-color: $col-footer-bg;
    margin: 0;
    padding-top: .75em;
    padding-bottom: .75em;
    .footer-text { 
        // @include column(); 
       @include mg-both(.75); 
        text-align: center; 
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-credits {
        text-align: center; 
        font-size: .875em;
        @include mg-top();
    }




    ul { li { line-height: 1.75; } }


    .mv, .fa, .dashicons {
        font-size: 150%;
        vertical-align: middle;
    }


}

.site-footer {

    .widget-area {
            @include mg-both(.75); 
            @include clearfix;
            margin: 0 ($basepx * -1px);
            margin: 0 ($margin * -1);
        
        .widget {
            @include even-columns(4, $widget-breakpoints);

            .widget-title { @include baseline-size( 1.5 ); }
       }

    }

}