
/* = Footer Layout
----------------------------------------------- */
.site-footer {

    color: $col-footer-text;
    background-color: $col-footer-bg;
    margin: 0;
    padding: $margin;

    .footer-text { 
       margin-block: $margin-baseline *.75; 
        text-align: center; 
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-credits {
        text-align: center; 
        font-size: .875em;
        margin-top: $margin-baseline;
    }




    ul { li { line-height: 1.75; } }


    .mv, .fa, .dashicons {
        font-size: 150%;
        vertical-align: middle;
    }

    .widget-area {
            margin-block: $margin-baseline *.75; 
        
            @include even-columns();
            
        .widget {

            .widget-title { @include baseline-size( 1.5 ); }
       }

    }

}