/* = Header Layout
----------------------------------------------- */
.site-header {
  background-color: $col-masthead-bg;
  color: $col-masthead-txt;
  padding: $margin;

  a {
    text-decoration: none;
    color: $col-masthead-txt;

    &:visited {
      color: $col-masthead-txt;
    }

    &:hover {
      color: $col-masthead-hover;
    }

    &:focus-visible {
      color: $col-masthead-hover;
      outline-color: $col-focus-border;
      outline-width: 2px;
    }
  }

  .menu-toggle {
    margin-bottom: $margin-baseline;
    text-align: center;

    button {
      @include button;
      font-weight: 600;

      i {
        margin-right: 0.75em;
        vertical-align: baseline;
      }
    }
  }

  .site-branding {
    display: flex;
    flex-direction: column;
    gap: $gutter;


    position: relative;
    z-index: 2;

    &.drop-shadow {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

      .site-logo img {
        box-shadow: $box-shadow;
      }
    }
  }

  .site-logo {
    img {
      max-width: 100%;
    }
  }

  .rounded img {
    border-radius: .25em;
  }

  .circle img {
    border-radius: 50%;
  }

  .site-title {
    @include baseline-size(1.75);
    margin-bottom: 0.5em;
  }

  .site-description {
    font-size: 1.25rem;
    margin-block: 0;
    font-weight: normal;
  }

  .site-logo,
  .site-info {
    flex-basis: auto;
  }

  @media screen and (max-width: $bp-full-menu) {

    .site-logo,
    .site-title {
      text-align: center;
    }

    .site-logo img {
      width: 4.5em;
    }
  }

  @media screen and (min-width: $bp-full-menu) {

    .site-branding {
      flex-direction: row;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .site-title {
      text-align: left;
    }

    .with-logo {
      .site-logo {
        flex-basis: percentage(5/24);
        max-width: 7.5em;
        margin-top: 0.75em;
      }

      .site-info {
        flex-basis: percentage(19/24);
      }
    }
  }
}