/* HYPERLINKS */

a {
    text-decoration: none;
    color: $col-link;
    &:link {
        color: $col-link
    }
    &:visited {
        color: $col-link-visited
    }
    &:hover,
    &:link:hover {
        color: $col-link-hover;
        text-decoration: underline
    }
    &:focus-visible {
        outline-style: solid;
        color: $col-link-hover;
        padding-inline: .25em;
    }
    &:active {
        color: $col-link-active
    }
}
