/* =Comments
----------------------------------------------- */

.comment-content {
  margin-block: $margin;
}

.comment-content a {
	word-wrap: break-word;
}

.comments-area {
  .comments-title { 
    @include baseline-size( 1.5 ); 
  }
  .comment-reply-title { 
    @include baseline-size( 1.25 );
  }
  ol {
      list-style-type: none; 
      li { 
          @include mg-both(.75);
      }
   }
 
}

