// GALLERIES

.gallery {

    display: grid;
    gap: $margin;
    margin-block: $margin-baseline;
    align-items: center;
    

    figure.gallery-item {
        display: grid;

        img {
            @include thumbnail();
            background-color: $col-bg;
            max-width: 100%;
            height: auto;
        }
    }
    .gallery-icon {
        text-align: center;
    }
    figcaption.gallery-caption {
        @include baseline-size( .75, 1);
        margin: 0;
    }
}

@for $i from 1 through 9 {
    $width: ( $i / 9 );
    .gallery-columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }

}