/* =Media
----------------------------------------------- */

@import "../../node_modules/bootstrap/scss/helpers/ratio";

// responsive embed containers
.responsive-embed,
.wp-block-embed.wp-embed-aspect-16-9 {
    @extend .ratio;
    --bs-aspect-ratio: calc(9 / 16 * 100%);
}

/* Images */
.wp-caption { max-width: 100%; }
.thumb {
   @include thumbnail();
}
.image-left, .image-right { margin-bottom: $margin; }

@media screen and (min-width: $bp-01) {
.image-left, .image-right { max-width: 48%; height:auto; }
.image-left { float: left; margin-right: $margin; }
.image-right { float: right; margin-left: $margin; }
}
