/* classes required by WordPress */
.wp-caption-text { font-size: inherit; }
.sticky { font-size: inherit; }
.bypostauthor { font-size: inherit; }
.alignright { text-align: right }
.alignleft { text-align: left }
.aligncenter { text-align: center }
img.alignleft { @extend .image-left; vertical-align: text-top; }
img.alignright { @extend .image-right; vertical-align: text-top; }

// align wide and full
.alignfull {
	margin: $margin calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}
